C:\Users\Nancy\Documents\GitHub\Springboard\Capstone 3 elementary OS revenue projection\data

C:\Users\Nancy\Documents\GitHub\Springboard\Capstone 2 Denver Real Estate\models\rfmodel
Capstone 2 Denver Real Estate/models/rfmodel
